<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
        integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
        integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link href="/CSS/admincss.css" rel="stylesheet" />
    <link href="/CSS/layoutcss.css" rel="stylesheet" />
    <style>

    </style>
</head>

<body>
    <div class="search-logo-section">
        <div class="container">
            <div class="logo">
                <a href="/">
                    <img height="100" src="/Image/Logo1.jpg" />
                </a>
            </div>
            <div class="search-container">
                <form action="/action_page.php">
                    <input type="text" placeholder="Tìm kiếm sản phẩm..." name="search">
                    <button type="submit">Tìm kiếm</button>
                </form>
            </div>
            <div class="cart" style="margin-bottom: 5px;">
                <a href="/account/cart"><i style="font-size: 225%;" class="fas fa-shopping-cart"></i></a>
            </div>

        </div>
    </div>
    <div id="navbar" class="">
        <div class="container">
            <ul id="nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">News</a></li>
                <li>
                    <a href="#">Sản Phẩm</a>

                    <div class="subnav">
                        <div class="nav-column" >
                            <ul >
                                <li th:each="category : ${listCategoryHome}"><a th:href="@{'/ProductbyCate/' + ${category.idCategory}}"  class="navitem" >
                                <p th:text="${category.CategoryName}">
                                    
                                </p>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </li>

                <div class="login-section">
                    <a href="#">Đăng nhập</a>
                    <a href="#">Đăng Kí</a>
                </div>
            </ul>
        </div>
        
    </div>
    <div class="row container-fluid" style="min-height:100vh">
        <div class="col-2">
            <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading" style="font-size:20px; font-weight:bold; color: black;">
                            Danh mục quản lí</div>

                        <a class="nav-link" href="/admin" style="font-size:18px">
                            <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                            Thông tin cá nhân
                        </a>
                        <a class="nav-link" href="/admin/changepassword" style="font-size:18px">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-key"></i>
                            </div>
                            Đổi mật khẩu
                        </a>
                        <a class="nav-link" href="/admin/StaffManagement" style="font-size:18px">
                            <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                            Quản Lý Nhân Viên
                        </a>
                        <a class="nav-link" href="/Admin/Product" style="font-size:18px">
                            <div class="sb-nav-link-icon"><i class="fas fa-archive"></i></div>
                            Sản Phẩm
                        </a>
                        <a class="nav-link" href="/Admin/Attribute" style="font-size:18px">
                            <div class="sb-nav-link-icon"><i class="fas fa-book"></i></div>
                            Thuộc Tính
                        </a>
                        <a class="nav-link" href="/Admin/Category" style="font-size:18px">
                            <div class="sb-nav-link-icon"><i class="fas fa-certificate"></i></div>
                            Danh Mục
                        </a>
                        <a class="nav-link" href="/Admin/InvoiceDetail" style="font-size:18px">
                            <div class="sb-nav-link-icon"><i class="fas fa-receipt"></i></div>
                            Chi Tiết Đơn Hàng
                        </a>
                        <a class="nav-link" href="/adminauth/LogOut" style="font-size:18px">
                            <div class="sb-nav-link-icon"><i class="fas fa-sign-out-alt"></i></div>
                            Đăng xuất
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-10">
            <section layout:fragment="content">
                <p>This is filled by the content template.</p>
            </section>
        </div>
    </div>
    <div class="footer">
        <div class="footer-1">
            <div class="footer-content">
                <div class="nav-column">
                    <a class="nav-header" href="">Chính sách</a>
                    <div class="border-nav"></div>
                    <div style="padding-bottom:20px"></div>
                    <a class="navitem" href="/home/policysecurity">Chính sách bảo mật</a>
                    <a class="navitem" href="/home/policyrefund">Chính sách đổi trả</a>
                    <a class="navitem" href="/home/ourpolicy">Chính sách nhóm Paimon</a>
                    <a class="navitem" href="/home/ourpolicy">Chính sách nhóm Paimon</a>
                    <a class="navitem" href="/home/ourpolicy">Chính sách nhóm Paimon</a>
                </div>
            </div>
            <div class="footer-content">
                <div class="nav-column">

                    <a class="nav-header" href="">Công ty</a>
                    <div class="border-nav"></div>
                    <div style="padding-bottom:20px"></div>
                    <a class="navitem" href="/home/About">Giới thiệu</a>
                    <a class="navitem" href="/home/Contact">Liên hệ</a>
                </div>
            </div>
            <div class="footer-content">
                <div class="nav-column">
                    <a class="nav-header" href="">Kết nối</a>
                    <div class="border-nav"></div>
                    <div style="padding-bottom:20px"></div>
                    <a class="navitem" href="https://github.com/RioRichard/XedapTeyvat"><img width="35"
                            src="https://cdn3.iconfinder.com/data/icons/inficons/512/github.png" /></a>
                    <div style="padding-bottom:20px"></div>
                </div>
            </div>
        </div>

        <div class="footer-1">
            <div class="border-nav" style="border-bottom: solid; border-color: darkgrey;width: 80%;"></div>
            <div class="footer-content">
                <div class="nav-column">
                    <div class="navitem">Email:</div>
                </div>
            </div>
            <div class="footer-content" style="margin-top: 20px">
                <div class="nav-column">
                    <div class="navitem" style="font-weight:bold;font-size:25px;">Công ty Paimon</div>
                    <div class="navitem">Sản phẩm thuộc đồ án Lập Trình Web</div>
                </div>
            </div>
            <div class="footer-content" style="padding-top:-30px">
                <div class="nav-column">
                    <div class="navitem" style="font-size:20px">Copyright © by Nhóm 4</div>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.onscroll = function () { myFunction() };

        var navbar = document.getElementById("navbar");
        var sticky = navbar.offsetTop;

        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
            } else {
                navbar.classList.remove("sticky");
            }
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
</body>

</html>