<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="/layout/_layoutAccount.html">

<head>
    <meta charset="UTF-8">
    <title>Giỏ hàng</title>
    <!-- CSS only -->

</head>

<body>
    <div layout:fragment="content">
        <div class="container-fluid">
            <!-- @if (Model.Count() == 0)
    {
        <input type="hidden" name="checkNull" value="0" />
    }
    else
    {
        <input type="hidden" name="checkNull" value="1" />

    } -->
            <h1 class="mt-4">GIỎ HÀNG CỦA BẠN</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="/account">Tài khoản</a></li>
                <li class="breadcrumb-item active">Giỏ hàng của bạn</li>
            </ol>
            <table class="table table-bordered">
                <thead class="bg-dark text-light">
                    <tr>
                        <td>Tên sản phẩm</td>
                        <td>Hình ảnh</td>
                        <td>Giá tiền</td>
                        <td>Sô lượng</td>
                        <td>Tổng số tiền</td>
                        <td>Xoá sản phẩm</td>


                    </tr>
                </thead>
                <tbody>
                    <tr class="product_tr" th:each="item: ${cart.ProductCarts}">
                        <td th:text="${item.product.name}"></td>
                        <td>
                            <img width="120" th:src="@{'/Image/ImageProduct/'+${item.product.imageUrl}}"
                                alt="@{$(item.product.name)}" />
                        </td>



                        <td>
                            <div class="money" th:text="${item.product.price}"></div>
                            <div style="display: none;" class="unitprice" th:value="${item.product.price}"></div>

                        </td>
                        <td>
                            <input type="number" class="quantity" name="quantity" th:value="${item.quantity}"
                                th:attr="pid=${item.id.idProduct}" min="0" required />
                        </td>

                        </td>
                        <td>
                            <div class="money totalItem" th:text="${item.getTotal()}"></div>


                        </td>
                        <td><button name="delete" class="btn btn-outline-danger" 
                            th:attr="pid=${item.id.idProduct}"><i class="fas fa-trash"></i></button></td>


                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-end">
                <p>Tổng cộng: <b class="money total" th:text="${cart.getCartTotal()}"></b></p>
            </div>

            <div class="d-flex justify-content-end" style="margin-bottom:10px;margin-top:10px">
                Địa chỉ: <b th:text="${address.address}"></b>
            </div>
            <div class="d-flex justify-content-end" style="margin-bottom:10px;margin-top:10px">
                Người nhận: <b th:text="${address.receiver}"></b>

            </div>
            <div class="d-flex justify-content-end" style="margin-bottom:10px;margin-top:10px">
                Số điện thoại: <b th:text="${address.phone}"></b>

            </div>
            <div class="d-flex justify-content-end" style="margin-bottom:10px;margin-top:10px">
                <a href="/Account/Address" class="btn btn-primary btn-edit">Chỉnh địa chỉ.</a>
            </div>
            <div class="d-flex justify-content-end">
                <input type="hidden" name="addressCount" value="@ViewBag.AddressCount" />



                <a href="/" class="btn btn-outline-primary">Tiếp tục mua sắm</a>

                <button id="charge" class="btn btn-danger" style="margin-left:20px">Thanh toán!</button>
            </div>

        </div>
        <script>

            $().ready(function () {
                updateMoney();
                $("button[id='charge']").click(function () {

                    $.post('/Account/Charge', (r) => {
                        console.log(r);
                        alert(r.Result)
                        if (r.Status == true) {
                            window.location.href = "/Account/Invoice"
                        }
                    })
                })
                $("input[name='quantity']").change(function () {
                    $.post('/Account/changeQuantity',{quantity: this.value,id: $(this).attr("pid"),},()=>{
                        if(this.value == 0){
                            window.location.href = window.location.href;
                        }
                        calculate();

                    })
                })
                $('button[name="delete"]').click(function(){
                    $.post('/Account/changeQuantity',{quantity: 0,id: $(this).attr("pid"),},()=>{
                        window.location.href = window.location.href;

                        

                    })
                })
            })

            function calculate() {
                var total = 0;
                $('.product_tr').each(function () {
                    var quantity = parseInt($(this).find('.quantity').val());
                    var unitprice = ($(this).find('.unitprice').attr("value"));
                    console.log([quantity,unitprice])
                    rowtotal = (quantity * unitprice)

                    $(this).find('.totalItem').text(numberWithCommas(rowtotal) + ' VNĐ');
                    total += rowtotal;
                })
                $('.total').text(numberWithCommas(total) + ' VNĐ');
            }

            function numberWithCommas(x) {
                return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");


            }
            function updateMoney() {
                $('.money').each(function () {
                    var text = $(this).text();
                    $(this).text(numberWithCommas(text) + ' VNĐ')
                })
            }
        </script>
    </div>
</body>