<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    
    <link th:href="@{/CSS/styles.css}" rel="stylesheet" />
    
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
 integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
 crossorigin="anonymous">
 <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
 integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
 crossorigin="anonymous"></script>

</head>
<body>

<div class="login-box " style="margin-top: 100px;">
    <div class="login-snip">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
        <label for="tab-1" class="tab">Mật khẩu mới</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up" style="display:none">
        <label for="tab-2" class="tab" style="display:none">Change Password</label>
        <div class="login-space">
            <form id="Forgot">
               
                <div class="login">
                    <div class="group">
                        <label for="email" class="label">Mật khẩu mới</label>
                        <input id="email" style="min-width:100%" type="text" class="input" placeholder="Nhập mật khẩu mới của bạn" name="Password">
                    </div>
                    <div class="group">
                        <label for="email" class="label">Nhập lại mật khẩu</label>
                        <input id="email" style="min-width:100%" type="text" class="input" placeholder="Nhập lại mật khẩu" name="Re-Pasword">
                    </div>


                    <div class="group">
                        <button class="button">Xác nhận </button>
                    </div>
                    <br />
                    <br />
                    <div class="hr"></div>
                    

                    <div class="foot"><a href="/">Về trang chủ</a></div>

                </div>
            </form>


        </div>
    </div>
</div>

<!-- @section scripts{

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script>

        jQuery.validator.addMethod("domainEmail", function (value, element) {
            var filter = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])*(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)+(.)+$/.test(value);
            return this.optional(element) || filter
        });
        $("form").each(function () {

            var id = $(this).attr('id');
            console.log(id);
            $(this).validate({
                rules: {

                    Email: {
                        required: true,
                        email: true,
                        domainEmail: true,
                        minlength: 10,
                        maxlength: 64,
                    }
                },
                messages: {

                    Email: {
                        required: "Hãy nhập email",
                        domainEmail: "Hãy nhập đúng định dạng email",
                        email: "Hãy nhập đúng định dạng email",
                        maxlength: "Hãy nhập tối đa 64 ký tự",
                        minlength: "Hãy nhập tối thiểu 10 ký tự"
                    }
                },
                submitHandler: function (form) {
                    //console.log('/Account/' + id);
                    $.post('/Auth/' + id, $(form).serialize(), (r) => {
                        console.log(r);

                        alert(r.msg);
                        if (r.url != 'null') {
                            window.location.href = r.url
                        }


                    })
                }
            });
        })
    </script>
} -->
</body>
</html>