<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="/layout/_layoutAccount.html">

    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <!-- CSS only -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
            integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    </head>

<body>
    <div layout:fragment="content">
        <div class="container-fluid">
            <h1 class="mt-4">GIỎ HÀNG CỦA BẠN</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="/account">Tài khoản</a></li>
                <li class="breadcrumb-item active">Giỏ hàng của bạn</li>
            </ol>
            <form method="post" id="changePass">
                <div class="form-group">
                    <label class="small mb-1" for="inputCurrentPassword"><b>Mật Khẩu</b></label>
                    <input class="form-control py-4" id="inputCurrentPassword" type="password" name="currentPass" placeholder="Nhập Mật Khẩu Hiện tại" />
                </div>
                <div class="form-group">
                    <label class="small mb-1" for="inputNewPassword"><b>Mật Khẩu Mới</b></label>
                    <input class="form-control py-4" id="inputNewPassword" type="password" name="newPass" placeholder="Nhập Mật Khẩu Mới" />
                </div>
                <div class="form-group">
                    <label class="small mb-1" for="inputNewPassword2"><b>Nhập Lại Mật Khẩu Mới</b></label>
                    <input class="form-control py-4" id="inputNewPassword2" type="password" name="reNewPass" placeholder="Nhập Lại Mật Khẩu Mới" />
                </div>
        
                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
        
                    <button class="btn btn-primary">Xác nhận</button>
                </div>
            </form>
            <!-- <div class="text-danger">@TempData["messageChangePass"]</div> -->
        </div>
    </div>

    

    <!-- @section scripts{

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script>

        jQuery.validator.addMethod("domainEmail", function (value, element) {
            var filter = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])*(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)+(.)+$/.test(value);
            return this.optional(element) || filter
        });
        $("form").each(function () {

            var id = $(this).attr('id');
            console.log(id);
            $(this).validate({
                rules: {

                    Email: {
                        required: true,
                        email: true,
                        domainEmail: true,
                        minlength: 10,
                        maxlength: 64,
                    }
                },
                messages: {

                    Email: {
                        required: "Hãy nhập email",
                        domainEmail: "Hãy nhập đúng định dạng email",
                        email: "Hãy nhập đúng định dạng email",
                        maxlength: "Hãy nhập tối đa 64 ký tự",
                        minlength: "Hãy nhập tối thiểu 10 ký tự"
                    }
                },
                submitHandler: function (form) {
                    //console.log('/Account/' + id);
                    $.post('/Auth/' + id, $(form).serialize(), (r) => {
                        console.log(r);

                        alert(r.msg);
                        if (r.url != 'null') {
                            window.location.href = r.url
                        }


                    })
                }
            });
        })
    </script>
} -->
</body>

</html>