<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div aligin="center">
    <h1>Courses List</h1>
    <table>
        <thead>
            <th>ID</th>
            <th>LecturerID</th>
            <th>PLace</th>
            <th>DateTime</th>
            <th>CATEID</th>
        </thead>
        <tbody>
            <tr th:each="courses : ${listCourses}">
                <td th:text="${courses.id}"></td>
                <td th:text="${courses.LecturerId}"></td>
                <td th:text="${courses.Place}"></td>
        </tbody>
    </table>
</div>
</body>
</html>